<div class="author">
    <h1 class="author_heading">Hi, iam</h1>
    <p class="author_body">Web developer and Content creator.</p>
</div>
<img src="/img/hero-image.webp" alt="...">

<section class="articles">
    <h2 class="articles_heading">Latest Posts</h2>

    <ul class="articles-ul">
        <li>
            <span>Poast Title</span>
            <span class="article-list_date">Date</span>
        </li>
    </ul>
    <a href="" class="pagination">&lt;View Older posts</a>
</section>